@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-15%);
    }
    80% {
        transform: translateX(5%);
    }
    80% {
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.35s ease-out;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation: toast-progress 3s linear forwards;
}
